/* hamroni */
/* khrowat */
* {
  box-sizing: border-box;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
ul li{
  list-style: none;
  display: inline-block;
  justify-content: space-between;
}
#FacebookButtons{
  border-radius: 50%;
  color: gray;
  border: none;
  padding: 8px 16px;
  background-color:rgb(245, 245, 245);


}
.rown{
  width: 100%;
  height: 12%;
  background-color: lightgray;
}
/* nav{
  width: 100%;
  height: 12%;
  background-color: lightgray;
} */
#telegramButtons{
  border-radius: 50%;
  color: gray;
  border: none;
  padding: 8px 16px;
  background-color:rgb(245, 245, 245);

}
#FacebookButtons:hover{
  transform: translateY(5);
  background-color: #3b5998;
  color: white;
}
#telegramButtons:hover{
  background-color: #0088cc;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navBar{
  background-color: #282c34 !important;
}
.App-header {
  background-color: #282c34;
  
}
nav{
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  overflow: auto;
}
hmtl{
  font-size: 16px;
}